.whiteText {
  font-size: 28px;
  -unity-font: url('project://database/Assets/TPSBR/KimberleyBl-Regular.otf?fileID=12800000&guid=04c924c641889419bb4626a516527a07&type=3#KimberleyBl-Regular');
  color: rgb(255, 255, 255);
  width: auto;
  -unity-text-outline-color: rgb(0, 0, 0);
  -unity-text-outline-width: 2px;
  -unity-font-definition: initial;
  -unity-font-style: italic;
  -unity-text-align: middle-center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pinkText {
  font-size: 28px;
  -unity-font: url('project://database/Assets/TPSBR/Fonts/KimberleyBl-Regular.otf?fileID=12800000&guid=04c924c641889419bb4626a516527a07&type=3#KimberleyBl-Regular');
  color: rgb(255, 129, 251);
  width: auto;
  -unity-text-outline-color: rgb(0, 0, 0);
  -unity-text-outline-width: 2px;
  -unity-font-definition: initial;
  -unity-font-style: italic;
  -unity-text-align: middle-center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
